<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Server</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white">
	<div class="fixed z-10 w-full bg-blue-500 shadow-md text-white p-4">
		<h2 class="text-center text-xl font-semibold">
			Monitoring All Message
		</h2>
	</div>
	<div id="messages" class="flex flex-col gap-2 px-4 pb-4 pt-20 h-screen overflow-y-auto"></div>
	<script>
		const ws = new WebSocket('wss://websocket-message-api-nodejs.vercel.app/?monitor=true');

		const messagesDiv = document.getElementById('messages');

		ws.onmessage = (event) => {
			const data = JSON.parse(event.data);
			const messageDiv = document.createElement('div');

			messageDiv.innerHTML = `
				<div class="text-gray-700 inline-block">
					<div class="flex gap-2 items-center">
						<span class="font-semibold">
							${data.sender}
						</span>
						<span class="block text-xs">
							(${data.channel})
						</span>
					</div>
					<div class="flex">
						<div class="px-2 py-1 rounded-lg bg-neutral-200">
							${data.message}
						</div>
					</div>
				</div>`;

			messagesDiv.appendChild(messageDiv);
			messagesDiv.scrollTop = messagesDiv.scrollHeight;
		};

		ws.onopen = () => {
			console.log('Connected to monitoring WebSocket');
		};

		ws.onclose = () => {
			console.log('Disconnected from monitoring WebSocket');
		};
	</script>
</body>
</html>
